{% load static from staticfiles%}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}{% endblock %}</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




  </head>
  <body style="background-color: #9be3de;">
    <!--content-->
    <div id="header" style="display: block; text-align: left; margin-left : 15%">
      <h2 style="color: black;">HALO, APA KABAR?</h2>
    </div>
    <div class="form-container" style="padding:2% 15% 2%; color: black">
      <form method="POST" action="{% url 'homepage:add_status' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">{{ form.status.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.status }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10" style="margin-top: 3%; padding: 1%;">
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
          </div>
        </form>
        {% for db in data %}
               <small>{{ db.date }}</small>
               <p>{{ db.status }}</p>
               <hr></hr>
        {% endfor %}
    </div>
  </body>
</html>
